<div class="header">
    <div class="header-left">
        <img src="assets/images/logo.png" alt="" (click)="translateText('ka')">

        <div class="header-promos">
            <img src="assets/images/promo.png" class="header-promos-img"/>
            <p>{{'Promos' | translate }}</p>
        </div>
    </div>
    
    <div class="header-right">
        <div class="header-deposit">
            <p>10.00 ₾</p>
            <img src="assets/images/deposit.png" class="header-deposit-img"/>
        </div>

        <div class="separator"></div>

        <div class="test-class"></div>

        <div class="person-container">
            <div>9+</div>
            <img src="assets/images/person.png" alt="">
        </div>
        
    </div>
</div>
