<div class="footer">
    <table>
        <tr class="navbar-item">
            <img src="../../assets/images/sports.png"/>
            <p>{{'Sports' | translate }}</p>
        </tr>
    
        <tr class="navbar-item">
            <img src="../../assets/images/live-sports.png"/>
            <p>{{'LiveSports' | translate }}</p>
        </tr>
    
        <tr class="navbar-item">
            <img src="../../assets/images/slots.png"/>
            <p>{{'Slots' | translate }}</p>
        </tr>
    
        <tr class="navbar-item">
            <img src="../../assets/images/casino.png"/>
            <p>{{'Casino' | translate }}</p>
        </tr>
    
        <tr class="navbar-item">
            <img src="../../assets/images/more.png"/>
            <p>{{'More' | translate }}</p>
        </tr>
    </table>
</div>
