<div class="top-nav">
    <table>
        <tr class="top-navbar-item">
            <img src="../../assets/images/exchange.png"/>
            <p>{{'BetfairExchange' | translate }}</p>
        </tr>
    
        <tr class="top-navbar-item">
            <img src="../../assets/images/livescore.png"/>
            <p>{{'Livescore' | translate }}</p>
        </tr>
    
        <tr class="top-navbar-item">
            <img src="../../assets/images/statistics.png"/>
            <p>{{'Statistics' | translate }}</p>
        </tr>
    
        <tr class="top-navbar-item">
            <img src="../../assets/images/chat.png"/>
            <p>{{'Chat' | translate }}</p>
        </tr>
    
        <tr class="top-navbar-item selected">
            <img src="../../assets/images/config.png"/>
            <p>{{'Configuration' | translate }}</p>
        </tr>
    </table>
</div>
