//@use '@angular/material' as mat;
//@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// $light-theme: mat.define-light-theme((
//     color: (
//         header-background: $color-light-header-background,
//         header-promo-background: $color-light-header-promo-background,
//         header-separatot: $color-light-header-separatot,
//         header-test: $color-light-test
//     )
// ));

// $dark-theme: mat.define-dark-theme((
//     color: (
//         header-background: $color-dark-header-background,
//         header-promo-background: $color-dark-header-promo-background,
//         header-separatot: $color-dark-header-separatot,
//         header-test: $color-dark-test
//     )
// ));

// body.light-theme{
//     @include mat.all-component-themes($light-theme);
// }

// body.dark-theme{
//     @include mat.all-component-themes($dark-theme);
// }

.light-theme{
    --color-main-background: #fff;
    --color-header-background: #101518;
    --color-header-promo-background: #20272E;
    --color-header-separatot: #323B43;
    --color-navbar-background: #FBFCFD;
    --color-navbar-text: #787E85;
    --color-navbar-selected: #000;
    --filter-navbar-selected-img: invert(0%) sepia(96%) saturate(16%) hue-rotate(246deg) brightness(0%) contrast(105%);
    --filter-navbar-normal-img: invert(50%) sepia(15%) saturate(199%) hue-rotate(172deg) brightness(95%) contrast(86%);
    --color-exp-separator: #66696A;
    --color-exp-text: #000000;
}

.dark-theme{
    --color-main-background: #000;
    --color-header-background: #101518;
    --color-header-promo-background: #20272E;
    --color-header-separatot: #323B43;
    --color-navbar-background: #222529;
    --color-navbar-text: #787E85;
    --color-navbar-selected: #fff;
    --filter-navbar-selected-img: invert(100%) sepia(100%) saturate(0%) hue-rotate(247deg) brightness(111%) contrast(300%);
    --filter-navbar-normal-img: invert(50%) sepia(15%) saturate(199%) hue-rotate(172deg) brightness(95%) contrast(86%);
    --color-exp-separator: #303030;
    --color-exp-text: #FFFFFF;
}



